<h1>Stupid Coaching</h1>

<div class="askbox">
  <p class="question"><b><%= @question %></b></p>
  <p>-You</p>
</div>
<br>
<br>
<div class="answerbox">
  <p class="answer"><b><%= @answer %></b></p>
  <p>-Your Coach</p>
</div>
<br>
<%= link_to 'Ask a new question', 'ask' %>
