<h1>Stupid Coaching</h1>
<form action="answer">
  <p>Ask your coach anything:</p>
  <input class="asktextbox" type="text" method="get" placeholder="Write your question here" name="question">
  <input class="askbutton" type="submit" value="Ask!">
</form>
